<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    

    {% block content %}
    <div class="text-center">
        <h2>Calling {{ contact.name }}</h2>
        <img src="{{ contact.image.url }}" class="img-fluid rounded shadow mt-4" alt="{{ contact.name }}" style="width: 200px; height: 200px; object-fit: cover;">
        <div class="mt-4">
            <button class="btn btn-danger btn-lg" onclick="window.history.back();">End Call</button>
        </div>
    </div>
    {% endblock %}
    

</body>
</html>